*.pyc
.idea
.idea/
venv
__pycache__/
.cache
.coverage
logs
figures
experiments/toy_example/models
experiments/overfitting_experiment/data/MNIST/raw
experiments/overfitting_experiment/data/MNIST/processed
experiments/overfitting_experiment/models
